h1{
font-size: larger;
text-align: center;
color: rgba(217, 214, 218, 0.932);


}
body{
margin: 3px;
 font-size: 20px;
 text-align: end;
 color: coral;
background: linear-gradient(rgb(16, 125, 133), rgba(17, 17, 17, 0.801))
}

.b{
width: 500px;
border: solid 10px;
margin-left: 30%;
}
